/*
 orange: #fae6a6 #FFC500
 blue: #75b1f7
 black(ish): #181818
 gray: #3b3b3b
 light-gray: #b3b3b3;
*/

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
    
}


footer{
    
}

footer a{
    
}

body {
    
}


