/*
 orange: #fae6a6 #FFC500
 blue: #75b1f7
 black(ish): #181818
 gray: #3b3b3b
 light-gray: #b3b3b3;
 
 red: #C92020
 blue(medium): #798EE0
 grey: #636162
 grey light: #CDD3E9
 blue light: #88C6C9
*/

html {
	font: 125%/1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
	position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    background: #CDD3E9;
}

header {
    height: 50px;
    background: #000;
    border-top: solid 4px #3b3b3b;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #3b3b3b;
    color: #b3b3b3;
    padding: 10px;
    text-align: center;
}

.header-menu{
    height: 46px;
    width: 90px;
}

.header-menu .brand-logo {
    /*background: #3b3b3b;*/
    height: 46px;
    display: inline-block;
    padding: 3px;
    padding-top: 0px;
}

.brand-logo img.brand {
    margin-top: 4px;
    height: 36px;
    width: 36px;
}

.menu-entry{
    text-align: center;
    height: 46px;
    color: #3b3b3b;
    padding-top: 3px;
}

.menu-wrapper {
    margin-left: 100px;
}

.menu-entry:hover{
    background: #3b3b3b;
    color: #000;
}


.main-display {
    /*background: url('../images/simple_dashed.png');*/
    background: url('../images/twinkle_twinkle.png');
    /*background: url('../images/footer_lodyas.png');*/
    text-align: center;
    color: #CDD3E9;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-display img.logo {
    width: 200px;
    height: 200px;
}

.about {
    height: 250px;
}

/* helper classes */

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.txt-large {
    font-size: 1.5em;
}

.txt-larger {
    font-size: 2.1em;
}

.button {
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}

.button.primary {
    background: #3b3b3b;
    color: #b3b3b3;
}

.button.primary:hover {
    background: #C92020;
    color: #000;
}

.main-content{
    margin-bottom: 20px;
}

.main-content-final{
    margin-bottom: 40px;
}

