.monitor-wrapper{
   background: #3b3b3b;
   color: #0076FF;
   padding: 3px;
   font: 12px sans-serif;
}
/*
light blue: 0076FF
orange: #FFC500
gray: 3b3b3b
black: 000
light-gray: b3b3b3
*/

.monitor-name{
   color: #b3b3b3;
   font-weight: bold;
}

.monitor-label{
   font-weight: bold;
}

.monitor-value{
   color: #b3b3b3;
}


/* MEMORY MONITOR */
.memory-monitor{
   background: #b3b3b3;
   color: #000;
   font: 12px monospace;
}
.memory-address-bar{
   background: #000;
   float: left;
   text-align: right;
   color: #3b3b3b;
}
.memory-bar{
   float: left;
   background: #b3b3b3;
   border-right: solid 1px #3b3b3b;
}
/*memory-highlight*/
.memory-address-label{
   padding-left: 4px;
   padding-right: 4px;
}
.memory-value-label{
   padding-left: 15px;
   padding-right: 25px;
}

.memory-address-label.memory-highlight{
   color: #0076FF;
}
.memory-value-label.memory-highlight{
   color: #3b3b3b;
   background: #FFC500;
}

.memory-disassm-bar{
   background: #b3b3b3;
   float: left;


}

.memory-disassm-label{
   color: #3b3b3b;
   padding-left: 20px;
   padding-right: 10px;
}
.memory-disassm-label.memory-highlight{
   color: #3b3b3b;
   background: #FFC500;
}

/* CPU Monitor */
.cpu-monitor{
   float: left;
   background: #000;
   font: 12px monospace;
}
.cpu-registers-monitor{
   padding: 5px;
   width: 300px;
}
.register-entry{
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   /*border: 1px solid #3b3b3b;*/
   padding: 3px;
   text-align: right;
   background: #b3b3b3;
   margin: 1 1 1 1;
}
.register-label{
   color: #3b3b3b;
   font-weight: bold;
   width: 150px;

}
.register-value{
   background: #b3b3b3;
   color: #3b3b3b;
   padding-left: 5px;
   padding-right: 5px;
}
.psr-flag-on{
   color: #0076FF;
}
.psr-flag-off{
   color: #3b3b3b;
}
.status-register{

}
.status-register.register-value{
   background: #000;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   font-weight: bold;
}

/*
* Calculator
*/
.mon-tools-calc{


   float: left;
   font: 10px monospace;
}

.calc-actions{
   background: #000;
   border: solid 1px #b3b3b3;
   padding: 5px;
   width: 85px;
   height: 70px;
   float: left;
}
.calc-panels{
   float: left;
}

.calc-panel{
   border: solid 1px #3b3b3b;
   background: #000;
   padding: 10px;
   color: #b3b3b3;
}

.calc-operation{
   border: solid 1px #3b3b3b;
   background: #3b3b3b;
   color: #b3b3b3;
   width: 16px;
   height: 16px;
   text-align: center;
   vertical-align: middle;
   cursor: hand;cursor: pointer;
   float: left;

   -moz-box-shadow: inset 0 0 3px 3px #b3b3b3;
   -webkit-box-shadow: inset 0 0 3px 3px#b3b3b3;
   box-shadow: inset 0 0 3px 3px #b3b3b3;

}
.calc-operation-selected{
   background: #FFC500;/*#FFC500;*/
   color: #000;
   -moz-box-shadow: inset 0 0 3px 3px #b3b3b3;
   -webkit-box-shadow: inset 0 0 3px 3px #b3b3b3;
   box-shadow: inset 0 0 3px 3px #b3b3b3;
}
.calc-operation-hover{
   border: solid 1px #0076FF;
   -moz-box-shadow: inset 0 0 3px 3px #0076FF;
   -webkit-box-shadow: inset 0 0 3px 3px #0076FF;
   box-shadow: inset 0 0 3px 3px #0076FF;
}

.calc-input-decr{
   color: #0076FF;
   background: #000;
   width: 16px;
   height: 16px;
   display: inline-block;
   text-align: center;
   vertical-align: middle;
   margin: 0px;
   cursor: hand;cursor: pointer;
   border: solid 1px #0076FF;
}
.calc-input-incr{
    color: #0076FF;
    background: #000;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: hand;cursor: pointer;
    margin: 0px;
    border: solid 1px #0076FF;
}
.calc-text-input{
   height: 20px;
   width: 150px;

   border: none;
   background: #3b3b3b;
   color: #0076FF;
   margin-left: 3px;
   margin-right: 3px;
   text-align: right;
   font: 10px monospace;
}
.calc-panel-input{
   padding: 3px;
}
.calc-result{
   height: 16px;
   width: 150px;
   display: inline-block;
   height: 20px;
   width: 150px;
   text-align: right;
   border: none;
   background: #000;
   color: #0076FF;
   margin-left: 3px;
   margin-right: 3px;
}
.calc-panel-result .calc-input-incr{
   border: none;
}
.calc-panel-result .calc-input-decr{
   border: none;
}

/* round corners*/

.round-all{
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
.round-all-s{
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}

.round-top-left{
   -webkit-border-top-left-radius: 5px;
   -moz-border-radius-topleft: 5px;
   border-top-left-radius: 5px;
}

.round-top-left-s{
   -webkit-border-top-left-radius: 5px;
   -moz-border-radius-topleft: 5px;
   border-top-left-radius: 5px;
}

.round-top-right{
   -webkit-border-top-right-radius: 5px;
   -moz-border-radius-topright: 5px;
   border-top-right-radius: 5px;
}

.round-top-right-s{
   -webkit-border-top-right-radius: 3px;
   -moz-border-radius-topleft: 3px;
   border-top-right-radius: 3px;
}

.round-bottom-left{
   -webkit-border-bottom-left-radius: 5px;
   -moz-border-radius-bottomleft: 5px;
   border-bottom-left-radius: 5px;
}

.round-bottom-left-s{
   -webkit-border-bottom-left-radius: 3px;
   -moz-border-radius-bottomleft: 3px;
   border-bottom-left-radius: 3px;
}

.round-bottom-right{
   -webkit-border-bottom-right-radius: 5px;
   -moz-border-radius-bottomright: 5px;
   border-bottom-right-radius: 5px;
}

.round-bottom-right-s{
   -webkit-border-bottom-right-radius: 3px;
   -moz-border-radius-bottomright: 3px;
   border-bottom-right-radius: 3px;
}
